{% extends "bootstrap/base.html" %}
{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.locale('NG') }}
{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}Flask Web Application{% endblock %}
{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                 data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Newbies</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Homepage</a></li>
                    <li><a href="/User/Dave">Profile</a> </li>
                    <li><a href="/Login">Login</a></li>
                    <li> <a href="/Signup">Register</a> </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% block page_content %}{% endblock %}
    </div>
    <div class="footer | text-center">
        <hr>
        <p>
            This web application was created by <em><b>deft_dev</b></em> using Flask. <br>
            <div class="text-center">
                <p> Local date and time is {{ moment(access_time).format('LLL') }}
                    <br> That was {{ moment(access_time).fromNow(refresh=True) }}
                </p>

                <p>
                    Current time in Coordinated Universal Time (UTC) : {{ access_time }}
                </p>
            </div>
        </p>
    </div>
{% endblock %}